<h2>רשימת מוצרים</h2>

<div *ngIf="products.length === 0">
  אין מוצרים להצגה
</div>

<div class="products">
  <div class="product-card" *ngFor="let item of products">
    <img
      [src]="item.imageSrc"
      alt="{{ item.productName }}"
      width="150"
    />

    <h3>{{ item.productName }}</h3>
    <p>{{ item.description }}</p>
    <p><strong>מחיר:</strong> {{ item.price }}</p>
    <button (click)="viewDetails(item)">פרטים נוספים</button>
    <!-- <button (click)="addToCart(item)">הוסף לעגלה</button> -->
  </div>
</div>
